comet_ml==3.32.4
geomloss==0.2.6
librosa==0.9.2
matplotlib==3.7.1
numpy==1.23.5
pesq==0.0.4
pystoi==0.3.3
scipy==1.10.1
torch==2.0.1
torchaudio==2.0.2
torchmetrics==0.11.4
tqdm==4.64.1
transformers==4.26.1
